USE [master]
GO
/****** Object:  Database [SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177]    Script Date: 1/22/2020 2:01:41 PM ******/
CREATE DATABASE [SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177', FILENAME = N'C:\Users\Admin\SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177_log', FILENAME = N'C:\Users\Admin\SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177]
GO
USE [SecretSantaContext-eb167473-0ebc-4a07-bfa2-3bbba676a177]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/22/2020 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 1/22/2020 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participants](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
 CONSTRAINT [PK_Participants] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipients]    Script Date: 1/22/2020 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameS] [varchar](255) NULL,
	[EmailS] [varchar](255) NULL,
	[NameR] [varchar](255) NULL,
	[EmailR] [varchar](255) NULL,
 CONSTRAINT [PK_Recipients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[participantsOperations]    Script Date: 1/22/2020 2:01:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create Procedure [dbo].[participantsOperations](

@name varchar(255),
@email varchar(255)
)

AS
BEGIN
DECLARE @status varchar(max)
if @status = 'INSERT'
BEGIN
INSERT INTO Participants(name,Email)
VALUES(@name,@email)
END

if @status = 'GET'
BEGIN
SELECT * FROM Participants
END
END
GO
USE [master]
GO
