@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    By using our Website and/or our Services, you acknowledge that you have carefully read this 
    Privacy Policy and that you unreservedly agree with it. We reserve the right to regularly change the 
    Privacy Policy as we deem fit. Such change will be communicated through the website.
    <br/>
    You declare that you understand with what objectives the personal data is processed. 
    You also agree with the fact that your continued use is understood as continued permission.
</p>
