@model SecretSanta.Models.Participants

@{
    ViewData["Title"] = "Add";

}

<h3><br /> List your participants</h3>


@using (Html.BeginForm("Add", "Participants", FormMethod.Post))
{
    <div class="name-field">

        Name:
        <input asp-for="Name" placeholder="name" />
        <br />
        Email:
        <input asp-for="Email" placeholder="name" />
        <br />
    </div>
    <a class="btn-add" asp-area="" asp-controller="Participants" asp-action="Add">
        <div class="btn_add">
            <button type="submit">Add</button>
        </div>
    </a>
    

    <input type='button' value='Show List' id='myButton' onClick='redirectOnClick()' />
    <script>
    function redirectOnClick(){
    document.location ='showList';
    }
    </script>

}








