@model IEnumerable<SecretSanta.Models.Participants>

@{
    ViewData["Title"] = "Add";

}

<h3><br /> List your participants</h3>


@using (Html.BeginForm("Add", "Participants", FormMethod.Post))
{
    <div class="name-field">

        Name:
        <input asp-for="Name" placeholder="name" />
        <br />
        Email:
        <input asp-for="Email" placeholder="name" />
        <br />
    </div>
    <a class="btn-add" asp-area="" asp-controller="Participants" asp-action="Add">
        <div class="btn_add">
            <button type="submit">Add</button>
        </div>
    </a>
}
@using (Html.BeginForm("Add", "Participants", FormMethod.Get))
{
<table>
    <tr style="border:1px solid red;margin:5px">
        <td>Name</td>
        <td>Email</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="border:1px solid red;margin:5px">
            <td>@item.Name</td>
            <td>@item.Email</td>
        </tr>
            }
    </table>
}







