@model IEnumerable<SecretSanta.Models.Recipients>
@{
    ViewData["Title"] = "Generate";
}

<h1>Generate</h1>
<table>
    <tr style="border:1px solid red; margin:5px;">
        <td>Sender Name|</td>
        <td>Sender Email|</td>
        <td>Recipients Name|</td>
        <td>Recipients Email</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="border:1px solid red; margin:5px;">
            <td>@item.NameS</td>
            <td>@item.EmailS</td>
            <td>@item.NameR</td>
            <td>@item.EmailR</td>
        </tr>
    }
</table>

