@model SecretSanta.Models.Participants

@{
    ViewData["Title"] = "List";
}

@{ 
    
    var query = "Select * from Participants";
}
<h1>Secret Santa List</h1>
<table border="1" width="100%">
    <tr>
        <th>Sender Name</th>
        <th>Name</th>
    </tr>


