@model SecretSanta.Models.Participants

@{
    ViewData["Title"] = "Play";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

<div class="content">

    <div class="btn-go">
        @using (Html.BeginForm("Play", "Participants", FormMethod.Post))
        {
        <div class="playerN">
            <h3>Do you want to play?</h3>
            Write your name here: <input class="name" type="text" placeholder="player name" asp-for="Name"required/><br />
            And your email here: <input class="email" type="text" placeholder="email" asp-for="Email" required/><br />
        </div>

            <a class="btn-go" asp-area="" asp-controller="Participants" asp-action="Add">
                <button name="go" type="submit" class="btn btn-outline-danger">
                    Play
                </button>
            </a>
        }
    </div>
</div> 
<div class="img2">
    <img src="~/lib/img/img2.jpg" />
</div>
<style>
    
    .btn-go{
        margin-left:200px;
        margin-top:250px;
    }
    .btn-go .btn-outline-danger{
        margin-top: 40px;
        margin-left: 150px;
    }
    .playerN .name{
        margin-bottom:10px;
    }
    .playerN .email{
        margin-left:10px;
    }
    .img2{
        margin-left: 610px;
        margin-top: -305px;
    }
</style>



